



<div class="form-container glass-effect" data-controller="form">

    <% if @new_pilot.errors.any? %>
    <ul>
        <% @new_pilot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
    <% end %>

    <%= form_with url:'/pilots' do |f| %>


        <div class="form-group">
            <%= f.label :firstname, for: "firstname" %>
            <%= f.text_field :firstname, :id => "firstname",:class => "form-control" %>
        </div>

        <div class="form-group"> 
            <%= f.label :lastname, for: "lastname" %>
            <%= f.text_field :lastname, :id => "lastname",:class => "form-control" %>
        </div>


        <div class="form-group">
            <%= f.label :creator, for: "creator" %>
            <%= f.text_field :creator, :id => "creator",:class => "form-control", :value =>  current_user.id, :readonly => true%>
        </div>

        <div>
            <%= f.button "Add pilot" , :class => "btn btn-primary btn-md btn-block"%>
        </div>


        <%=link_to "< home", main_index_path, :class => "link-class"%>

    <%end%>

</div>

